footer {
    grid-column: 1/-1;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    background-color: #340BB7;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
}